!!! 5

%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "description", :content => "This is a website to outline The Headphone Rule"}
    %title The Headphone Rule
    %link{:rel => "stylesheet", :href => "assets/stylesheets/css/style.css"}
    %link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Open+Sans:400,700,800"}
  %body
    #container
      %header
        %div
          %i.icon-headphones
        %h1
          The Headphone Rule
      %section
        %p
          If my headphones are on please don't talk, poke or otherwise interrupt me in meatspace.
        %p.rules
          The following modes of communication are preferred &amp; encouraged:
        %ul
          %li
            %a.button{:href => 'irc://irc.freenode.net/reyhan,isnickPing'}IRC
          %li
            %a.button{:href => 'mailto:rey@zzmag.com'}Email
        %p Thank you!
      %footer
        %p
          %a{:href => 'https://github.com/rey/headphonerule'}On GitHub