body
  +establish-baseline
  //+debug-vertical-alignment
  font-family: $font-family
  //padding-top: $gutter-width
  background-color: #f4f4f4
  color: $black
  #container
    +container($total-columns, $break)
    text-align: center
    a
      text-decoration: none
    header
      text-align: center
      h1
        font-weight: 800
        margin-bottom: $gutter-width/3
        +adjust-font-size-to($base-font-size*1.5, $lines:2)
      div
        i
          +adjust-font-size-to($base-font-size * 10)
    section
      p:first-child
        +leader
        text-align: center
        font-weight: 700
        +adjust-font-size-to($base-font-size * 1.25)
      p, li
        +trailer($lines:1)
      ul
        +leader($lines:2)
        li
          display: inline-block
          margin-right: $gutter-width
          a.button
            +sassy-button("flat", 10px, 19px, #e58b32)

+at-breakpoint($break)
  body
    #container
      header
        h1
          +adjust-font-size-to($base-font-size*4, $lines:2)
          +trailer($lines:0.5)