@import "compass/reset"
@import "compass/css3"
@import "compass/utilities"
@import "susy"

/* BASE */
$relative-font-sizing: true
$base-font-size: 1em
$base-line-height: 1.2em

/* COLOURS */
$white: #fff
$black: #202020
$grey: #ccc

/* SUSY */
$total-columns: 4
$column-width: 4em
$gutter-width: 1em
$grid-padding: $gutter-width

$break: 12



=die
	display: none !important
